.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}